body {
  font-family: Arial, sans-serif;
  text-align: center;
}

form {
  display: block;
  margin: 0 auto;
}

#pdf-viewer {
  float: right;
  width: 30%;
  padding: 20px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

#pdf-viewer object {
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow-y: auto;
}
